@import "../../../assets/styles/vars";
$tempWidth: 416px;

.window {
  background: $windows-bg;
  display: flex;
  flex-direction: column;
  border-radius: $border-radius;
  padding-bottom: 10px;
  height: 100%;
  transition: all $tr-time ease;
  @media (max-width: $toBurger) {
    width: $tempWidth;
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 10;
  }

  @media (max-width: $toMobile) {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    left: -100%;
  }
}
.windowIsOpen {
  @media (max-width: $toBurger) {
    left: calc(50% - $tempWidth / 2);
  }

  @media (max-width: $toMobile) {
    left: 0;
  }
}

.header {
  padding: 20px 20px 10px 20px;
  letter-spacing: 0.5px;
}