//@import "../../assets/styles/vars";
$ff: 'Open Sans', sans-serif;
$fw: 600;
$fsz: 12px;
$border-radius: 5px;
$app-bg: #F3F7FA;
$windows-bg: #fff;
$windows-padding: 20px;
$prim-color: #2196f3;
$usual-txt-color: #4A4A4A;
$sub-txt-color: #A0B0B9;